infra/n8n-workflows/comfyui-order-processing.json
{
  "name": "ComfyUI Order Processing (Stripe → Notification → Email)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "comfyui-order",
        "options": {
          "rawBody": true
        }
      },
      "id": "comfyui-webhook",
      "name": "Stripe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "comfyui-order-webhook"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst webhookSecret = $env.STRIPE_WEBHOOK_SECRET;\nconst rawBody = $input.first().json.body;\nconst sigHeader = $input.first().json.headers['stripe-signature'];\n\n// Verify Stripe webhook signature if secret is configured\nif (webhookSecret && sigHeader) {\n  const elements = sigHeader.split(',');\n  const tsElement = elements.find(e => e.startsWith('t='));\n  const sigElement = elements.find(e => e.startsWith('v1='));\n  if (!tsElement || !sigElement) return [];\n  const timestamp = tsElement.split('=')[1];\n  const signature = sigElement.split('=')[1];\n  const payload = timestamp + '.' + (typeof rawBody === 'string' ? rawBody : JSON.stringify(rawBody));\n  const expected = crypto.createHmac('sha256', webhookSecret).update(payload).digest('hex');\n  if (signature !== expected) {\n    console.log('Invalid Stripe signature');\n    return [];\n  }\n  const age = Math.floor(Date.now() / 1000) - parseInt(timestamp);\n  if (age > 300) {\n    console.log('Stripe event too old:', age, 'seconds');\n    return [];\n  }\n}\n\nconst event = typeof rawBody === 'string' ? JSON.parse(rawBody) : $input.first().json;\nif (event.type !== 'checkout.session.completed') {\n  return [];\n}\n\nconst session = event.data.object;\nconst priceId = session.line_items?.data?.[0]?.price?.id || session.metadata?.price_id || '';\n\n// Map price IDs to ComfyUI packages\nconst packages = {\n  'single':  { name: 'Foto Avulsa', photos: 1, delivery: '24h' },\n  'pack10':  { name: 'Pacote 10 Fotos', photos: 10, delivery: '48h' },\n  'monthly20': { name: 'Mensal 20 Fotos', photos: 20, delivery: 'ongoing' },\n  'monthly50': { name: 'Mensal 50 Fotos', photos: 50, delivery: 'ongoing' }\n};\n\nconst packageType = session.metadata?.package || 'single';\nconst pkg = packages[packageType] || packages.single;\n\nreturn [{\n  json: {\n    email: session.customer_details?.email,\n    name: session.customer_details?.name || 'Cliente',\n    phone: session.customer_details?.phone || '',\n    amount: session.amount_total / 100,\n    currency: session.currency || 'brl',\n    packageType,\n    packageName: pkg.name,\n    photos: pkg.photos,\n    delivery: pkg.delivery,\n    paymentId: session.id,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse-order",
      "name": "Parse Order",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $env.RESEND_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "from", "value": "ativadata <pedidos@ativadata.com>" },
            { "name": "to", "value": "={{ $json.email }}" },
            { "name": "subject", "value": "Pedido confirmado — {{ $json.packageName }} 🎨" },
            { "name": "html", "value": "=<div style='font-family:sans-serif;max-width:600px;margin:0 auto'><h2 style='color:#6366f1'>Pedido Confirmado!</h2><p>Olá, <strong>{{ $json.name }}</strong>!</p><p>Seu pedido foi recebido com sucesso:</p><table style='width:100%;border-collapse:collapse;margin:20px 0'><tr style='background:#f4f4f4'><td style='padding:12px;font-weight:bold'>Pacote</td><td style='padding:12px'>{{ $json.packageName }}</td></tr><tr><td style='padding:12px;font-weight:bold'>Fotos</td><td style='padding:12px'>{{ $json.photos }}</td></tr><tr style='background:#f4f4f4'><td style='padding:12px;font-weight:bold'>Valor</td><td style='padding:12px'>R$ {{ $json.amount }}</td></tr><tr><td style='padding:12px;font-weight:bold'>Prazo</td><td style='padding:12px'>{{ $json.delivery }}</td></tr></table><h3>Próximos Passos</h3><ol><li>Responda este e-mail com as fotos dos seus produtos</li><li>Descreva o estilo desejado (fundo branco, lifestyle, etc.)</li><li>Receba as imagens profissionais no prazo indicado</li></ol><p style='margin-top:24px;color:#666'>Dúvidas? Responda este e-mail ou entre em contato pelo WhatsApp.</p><hr style='margin:24px 0;border:none;border-top:1px solid #eee'><p style='color:#999;font-size:12px'>ativadata.com — Inteligência artificial para o seu negócio</p></div>" }
          ]
        },
        "options": {}
      },
      "id": "send-confirmation-email",
      "name": "Email Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 200]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=🎨 Novo pedido ComfyUI!\n\n👤 {{ $json.name }}\n📧 {{ $json.email }}\n📦 {{ $json.packageName }} ({{ $json.photos }} fotos)\n💰 R$ {{ $json.amount }}\n⏰ Prazo: {{ $json.delivery }}\n🆔 {{ $json.paymentId }}",
        "additionalFields": {}
      },
      "id": "telegram-order-alert",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [700, 420]
    }
  ],
  "connections": {
    "Stripe Webhook": {
      "main": [[{ "node": "Parse Order", "type": "main", "index": 0 }]]
    },
    "Parse Order": {
      "main": [[
        { "node": "Email Confirmation", "type": "main", "index": 0 },
        { "node": "Telegram Alert", "type": "main", "index": 0 }
      ]]
    }
  },
  "active": true,
  "settings": { "timezone": "America/Sao_Paulo" }
}
